In [50]:
!ls ../Datasets/Disease\ cases/asthma-3/asthma-emergency-department-visit-rates-wc5nog

asthma-ed-visit-rates-by-county.csv
asthma-ed-visit-rates-by-zip-code.xlsx
data-dictionary-asthma-ed-visit-rates-by-county.xlsx
data-dictionary-asthma-ed-visit-rates-by-zip-code.xlsx
datapackage.json
notes-asthma-ed-visit-rates-by-zip-code.pdf

In [43]:
import pandas as pd
import seaborn as sns
from scipy.stats import invgauss
import matplotlib.pyplot as plt
import numpy as np

In [15]:
ashtma_data1 = pd.read_csv('../Datasets/Disease cases/asthma-1/asthma-ed-visit-rates-lghc-indicator-07-.csv', low_memory=False)

In [16]:
ashtma_data1.head()

,Geography,Year,Age Group,Strata,Strata Name,Numerator,Percent
0,Alameda,2015,18 and Over,Total Population,18 and Over,"6,513",53.1
1,Amador,2015,18 and Over,Total Population,18 and Over,151,49.1
2,Butte,2015,18 and Over,Total Population,18 and Over,736,43.8
3,Calaveras,2015,18 and Over,Total Population,18 and Over,139,42.7
4,California,2015,18 and Over,Total Population,18 and Over,"117,854",40.0

In [70]:
ashtma_data1['Strata'].unique()

array(['Total Population', 'Race-Ethnicity', 'Sex'], dtype=object)

In [20]:
ashtma_data4 = pd.read_csv('../Datasets/Disease cases/asthma-4/Asthmadata_by_county_2014_2017.csv', low_memory=False)

In [21]:
ashtma_data4.head()

     CountyName  CountyCode  Year  AgeAdjRate  Lower95%  Upper95%  Total
0        Marin         6041  2014        25.2      23.3      27.3  643.0
1       Placer         6061  2014        29.4      27.7      31.2    0.0
2  Santa Clara         6085  2014        30.3      29.6      31.1    0.0
3       Lassen         6035  2014        30.5      24.9      37.0  103.0
4       Orange         6059  2014        31.3      30.7      31.9    0.0

In [37]:
counties4 = ashtma_data4['CountyName'].unique()

In [38]:
counties4.sort()
counties4

array(['Alameda ', 'Amador ', 'Butte ', 'Calaveras ',
       'California/Statewide', 'Colusa ', 'Contra Costa ', 'Del Norte ',
       'El Dorado ', 'Fresno ', 'Glenn ', 'Humboldt ', 'Imperial ',
       'Inyo ', 'Kern ', 'Kings ', 'Lake ', 'Lassen ', 'Los Angeles ',
       'Madera ', 'Marin ', 'Mariposa ', 'Mendocino ', 'Merced ',
       'Modoc ', 'Mono ', 'Monterey ', 'Napa ', 'Nevada ', 'Orange ',
       'Placer ', 'Plumas ', 'Riverside ', 'Sacramento ', 'San Benito ',
       'San Bernardino ', 'San Diego ', 'San Francisco ', 'San Joaquin ',
       'San Luis Obispo ', 'San Mateo ', 'Santa Barbara ', 'Santa Clara ',
       'Santa Cruz ', 'Shasta ', 'Siskiyou ', 'Solano ', 'Sonoma ',
       'Stanislaus ', 'Sutter ', 'Tehama ', 'Trinity ', 'Tulare ',
       'Tuolumne ', 'Ventura ', 'Yolo ', 'Yuba '], dtype=object)

In [34]:
counties1 = ashtma_data1['Geography'].unique()
counties1.sort()
counties1

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'California',
       'Colusa', 'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno',
       'Glenn', 'Humboldt', 'Humbolt', 'Imperial', 'Inyo', 'Kern',
       'Kings', 'Lake', 'Lassen', 'Los Angeles', 'Madera', 'Marin',
       'Mariposa', 'Mendocino', 'Merced', 'Modoc', 'Mono', 'Monterey',
       'Napa', 'Nevada', 'Orange', 'Placer', 'Plumas', 'Riverside',
       'Sacramento', 'San Benito', 'San Bernardino', 'San Diego',
       'San Francisco', 'San Joaquin', 'San Luis Obispo', 'San Mateo',
       'Santa Barbara', 'Santa Clara', 'Santa Cruz', 'Shasta', 'Sierra',
       'Siskiyou', 'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Tehama',
       'Trinity', 'Tulare', 'Tuolumne', 'Ventura', 'Yolo', 'Yuba'],
      dtype=object)

In [51]:
print(len(counties1))#Sierra
np.setdiff1d(counties1,counties4)
print(len(counties4) )

60
57

In [64]:
ashtma_data3 = pd.read_csv('../Datasets/Disease cases/asthma-3/asthma-emergency-department-visit-rates-wc5nog/asthma-ed-visit-rates-by-county.csv',encoding = "ISO-8859-1", low_memory=False)
ashtma_data3.head()

,COUNTY,YEAR,STRATA,STRATA NAME,AGE GROUP,NUMBER OF ED VISITS,AGE-ADJUSTED ED VISIT RATE,COMMENT
0,California,2015,Total population,All ages,All ages,"191,904",50.4,NaN
1,Alameda,2015,Total population,All ages,All ages,"9,939",64.3,NaN
2,Alpine,2015,Total population,All ages,All ages,0,0.0,NaN
3,Amador,2015,Total population,All ages,All ages,196,58.4,NaN
4,Butte,2015,Total population,All ages,All ages,"1,044",50.2,NaN

In [65]:
counties3 = ashtma_data3['COUNTY'].unique()
counties3.sort()
print(len(counties3))
counties3

59

array(['Alameda', 'Alpine', 'Amador', 'Butte', 'Calaveras', 'California',
       'Colusa', 'Contra Costa', 'Del Norte', 'El Dorado', 'Fresno',
       'Glenn', 'Humboldt', 'Imperial', 'Inyo', 'Kern', 'Kings', 'Lake',
       'Lassen', 'Los Angeles', 'Madera', 'Marin', 'Mariposa',
       'Mendocino', 'Merced', 'Modoc', 'Mono', 'Monterey', 'Napa',
       'Nevada', 'Orange', 'Placer', 'Plumas', 'Riverside', 'Sacramento',
       'San Benito', 'San Bernardino', 'San Diego', 'San Francisco',
       'San Joaquin', 'San Luis Obispo', 'San Mateo', 'Santa Barbara',
       'Santa Clara', 'Santa Cruz', 'Shasta', 'Sierra', 'Siskiyou',
       'Solano', 'Sonoma', 'Stanislaus', 'Sutter', 'Tehama', 'Trinity',
       'Tulare', 'Tuolumne', 'Ventura', 'Yolo', 'Yuba'], dtype=object)

In [66]:
ashtma_data3['AGE GROUP'].unique()
#All ages, 0-17 yrs, 18+yrs,  0-4 yrs,5-17yrs,18-64 yrs, 65+yrs
#

array(['All ages', '0\x9617 years', '18+ years', '0\x964 years',
       '5\x9617 years', '18\x9664 years', '65+ years'], dtype=object)

In [68]:
ashtma_data3['STRATA'].unique()

array(['Total population', 'Child vs. adult', 'Age groups',
       'Race/ethnicity'], dtype=object)

In [ ]:
county_station =